@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Slabo+27px&display=swap');

body {
  margin: 0;
  font-family: 'Slabo 27px', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sideNav {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  background-image: url("./assets/images/navbg.jpg");
}
#loganparke {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
.mySkills {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.Projects {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
